<!doctype html>
<html class="h-full">
<head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

    <title>Dusk Dashboard</title>
</head>
<body class="h-full">
<div id="dashboard" class="h-full">
    <div class="h-full">
        <div class="flex items-center p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><defs><linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%"><stop stop-color="#C7CECB" offset="0%"/><stop stop-color="#9CA5A0" offset="100%"/></linearGradient></defs><path fill="url(#a)" fill-rule="evenodd" d="M24 44a20 20 0 1 1 0-40 20 20 0 0 1 0 40zm9.7-10.17a13.97 13.97 0 0 0 2.88-4.18 14 14 0 0 1-18.5-18.5A14 14 0 1 0 33.7 33.83zm-14.14-5.65a16 16 0 0 0 12.29 4.66A12 12 0 0 1 14.9 15.89a16 16 0 0 0 4.66 12.29z"/></svg>

            <h4 class="mb-0 ml-3"><strong>Laravel</strong> Dusk Dashboard</h4>


            <button class="bg-transparent hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded ml-auto mr-3" @click.prevent="startTests" title="Start Tests">
                Start Tests
            </button>
        </div>
        <div class="flex h-full">
            <div class="static z-90 w-1/4">
                <div class="block sticky ml-4">
                    <ul class="list-reset">
                        <li class="list-group-item" v-for="(events, test) in _.groupBy(events, 'test')">
                            <p class="my-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs">{{ test }}</p>

                            <ul class="list-reset mr-4 font-mono text-xs">
                                <li class="cursor-pointer bg-grey-light hover:bg-grey-lightest p-2 flex items-center" v-for="event in events" @mouseover="loadEvent(event)">
                                    <span style="min-width: 180px;">{{ event.name }}</span>
                                    <span>{{ event.arguments[0] || '' }}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-3/4 bg-grey h-full flex justify-center">
                <div class="mt-4" style="width: 1000px; height: 660px;">
                    <iframe ref="iframe" id="iframe" frameborder="0" class="h-full w-full block bg-white shadow-lg overflow-auto"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

<script>
    var conn;

    new Vue({
        el: '#dashboard',

        data: {
            activeEvent: null,
            events: []
        },

        methods: {
            loadEvent: function(event) {
                if (this.activeEvent !== event) {
                    this.activeEvent = event;
                    this.$refs.iframe.srcdoc = event.html;

                    // Try to highlight DOM elements for this event
                    setTimeout(function () {
                        this.highlightEvent(event);
                    }.bind(this), 50);
                }
            },

            startTests: function() {
                this.events = [];

                conn.send(JSON.stringify({
                    method: 'startTests'
                }));
            },

            highlightEvent: function(event) {
                let name = event.name;
                let selector;

                switch (name) {
                    case 'click':
                        selector = event.arguments[0];
                        break;
                    case 'select':
                    case 'radio':
                    case 'type':
                        selector = '#'+event.arguments[0]+', input[name="'+event.arguments[0]+'"], select[name="\'+event.arguments[0]+\'"], textarea[name="'+event.arguments[0]+'"]';
                        break;
                    case 'mouseover':
                        selector = event.arguments[0];
                        break;
                }

                if (selector) {
                    try {
                        document.getElementById('iframe')
                            .contentWindow
                            .jQuery(selector)
                            .css('border', '5px solid red');
                    } catch (e) {}
                }
            }
        },

        mounted: function() {
            conn = new WebSocket(`ws://${window.location.hostname}:${window.location.port}/socket`);

            conn.onmessage = (e) => {
                var message = JSON.parse(e.data);
                if (message.name === 'dusk-event') {
                    this.events.push(message.data);
                    this.loadEvent(message.data);
                }
            };
        }
    });
</script>
</body>
</html>